main {
  background-image: url("/img/backdrop.jpg ");
  height: 100vh;
  background-repeat :no-repeat; 
  background-size: contain; 
}




 body {
  : "Playwrite MX", 
 cursive;
font-optical-sizing: auto;
font-weight: <weight>;
150 font-style: normal;  
}
